    <div class="form-zone">
        <h2 class="ta-c">Contactez moi</h2>
        <form action="" class="d-f fd-c">
            <div class="mb-1 mt-4">
                <label class="c-w" for="formName">Nom</label>
                <input type="text" class="form-control" id="formName"  placeholder="Nom" required>
            </div>
            <div class="mb-1 mt-4">
                <label class="c-w" for="formFirstName">Prénom</label>
                <input type="text" class="form-control" id="formFirstName" placeholder="Prénom" required>
            </div>
            <div class="mb-1 mt-4">
                <label class="c-w" for="formEmail">Email</label>
                <input type="email" class="form-control" id="formEmail" aria-describedby="emailHelp" placeholder="Email" required>
                <small id="emailHelp" class="form-text text-muted">Nous ne partagerons votre email avec aucune autre entité.</small>
            </div>
            <div class="mb-1 mt-4">
                <label class="c-w" for="formText">Message </label>
                <textarea class="form-control" id="formText" rows="3" required></textarea>
            </div>
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label c-w" for="exampleCheck1">Je consent à partager mes données personnelles ci-jointes avec le propriétaire de ce site</label>
            </div>
            <button type="submit" class="button-bb-wc br-5 fw-600 mw-25 m-auto mt-1">Envoyer</button>
        </form>
    </div>
