<form action="/register" method="post">
    <div class="mb-1">
        <label for="form-username">Nom d'utilisateur</label>
        <input class="form-control" type="text" placeholder="Nom d'utilisateur" id="form-username" name="username">
    </div>
    <div class="mb-1">
        <label for="form-email">Adresse email</label>
        <input  class="form-control" type="email" name="email" id="form-email" placeholder="adresse email">
    </div>
    <div class="mb-1">
        <label for="form-password">Mot de passe</label>
        <input class="form-control" type="password" name="password"  placeholder="Mot de passe" id="form-password">
    </div>
    <button class="button-bb-wc" type="submit">S'inscrire</button>
</form>