<footer class=" bt-g pt-0-5 bcg-light">
    <div class="maw-70 m-auto">
        <h4 class="ta-c fw-700 ff-titi">Mes réseaux sociaux</h4>
        <nav class="">
            <ul class="pb-1 pt-1 d-f fd-r jc-sb td-n">
                <li class="fw-700 h4">
                    <a href="https://github.com/tavrin" class="ff-titi"><i class="fab fa-github"></i><span class="social-name"> Github</span></a>
                </li>
                <li class="fw-700 h4">
                    <a href="https://www.linkedin.com/in/etienne-doux" class="ff-titi"><i class="fab fa-linkedin"></i><span class="social-name"> LinkedIn</span></a>
                </li>
                <li class="fw-700 h4">
                    <a href="https://twitter.com/etienne_doux" class="ff-titi"><i class="fab fa-twitter"></i><span class="social-name"> Twitter</span></a>
                </li>
                <li class="fw-700 h4">
                    <a href="https://www.behance.net/Etienne-D" class="ff-titi"><i class="fab fa-behance-square"></i><span class="social-name"> Behance</span></a>
                </li>
            </ul>
        </nav>
        <div class="bt-g">
            <nav class="">
                <ul class="pb-1 pt-1 d-f fd-rr jc-sb td-n" style="margin-left: auto">
                    <li class="fw-700 h4 ff-titi">
                        <a class="td-n text-muted" href="/admin"><i class="fas fa-lock"></i></a>
                    </li>
                    <li class="fw-500 ff-titi">
                        <a class="td-n text-muted" href="/mentions-legales">Mentions Légales</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</footer>