<footer class=" bt-g pt-0-5 bcg-light">
    <div class="mw-70 m-auto">
        <h4 class="ta-c fw-700 ff-titi">Mes réseaux sociaux</h4>
        <nav class="">
            <ul class="pb-1 pt-1 d-f fd-r jc-sb td-n">
                <li class="fw-700 h4 ff-titi">
                    <i class="fab fa-github"></i> Github
                </li>
                <li class="fw-700 h4 ff-titi">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </li>
                <li class="fw-700 h4 ff-titi">
                    <i class="fab fa-twitter"></i> Twitter
                </li>
                <li class="fw-700 h4 ff-titi">
                    <i class="fab fa-behance-square"></i> Behance
                </li>
            </ul>
        </nav>
        <div class="bt-g">
            <nav class="">
                <ul class="pb-1 pt-1 d-f fd-rr jc-sb td-n" style="margin-left: auto">
                    <li class="fw-700 h4 ff-titi">
                        <a class="td-n text-muted" href="#"><i class="fas fa-lock"></i></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</footer>