{% extends 'layout/base.html.twig' %}

{% block microdata %}
    {% include'microdata/webpage.html.twig' %}
{% endblock %}

{% block main %}
    <div class="maw-70 m-auto mt-3 mb-3 d-f fd-c">
        <section id="home-presentation" class="d-f jc-c m-auto pt-3 pb-3 mb-3">
                <div class="ta-l">
                    <h1 class="fw-600 fs-3-5 lh-3c5">Connexion</h1>
                </div>
        </section>
        <section class="d-f fd-c ai-c">
            {{ form.render|raw }}
            <div class="w-100">
                <a class=float-l href="/register">Créer un compte</a>
                <a class="float-r" href="/forgot-password">Mot de passe oublié</a>
            </div>
        </section>
    </div>
{% endblock %}