{% extends 'layout/base.html.twig' %}

{% block main %}
    <div class="mw-70 m-auto mt-3 mb-3 d-f fd-c">
        <section id="home-presentation" class="d-f jc-c m-auto pt-3 pb-3 mb-3">
                <div class="ta-l">
                    <h1 class="fw-600 fs-3-5 lh-3c5">Inscription</h1>
                </div>
        </section>
        <section>
            {% include 'partials/forms/registration_form.html.twig' %}
        </section>
    </div>
{% endblock %}