h1 {
    font-family: 'Titillium Web', sans-serif;
}

.h1 {
    font-size: 2.5rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.75rem;
}

.h4 {
    font-size: 1.5rem;
}

.h5 {
    font-size: 1.25rem;
}

.h6 {
    font-size: 1rem;
}

.fs-07 {
    font-size: 0.7rem;
}

.fs-08 {
    font-size: 0.8rem;
}

.fs-09 {
    font-size: 0.9rem;
}

.fs-1 {
    font-size: 1rem;
}

.fs-1c3 {
    font-size: 1.3rem;
}
.fs-1c5 {
    font-size: 1.5rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-3-5 {
    font-size: 3.5rem;
}

/* Colors */
.text-muted {
    color: rgb(85, 101, 117);
}

/*background-colors */
.bcg-light {
    background-color: rgb(239, 239, 239);
}

.bcg-light2 {
    background-color: #F1F3F9;
}

.bcg-light3 {
    background-color: #DFE1E7;
}

.bcg-light4 {
    background-color: rgb(251 251 251);
}

.bcg-white {
    background-color: #fff;
}
/* Text */

/*line-height */
.lh-1c7 {
    line-height: 1.7rem;
}

.lh-3c5 {
    line-height: 3.5rem;
}

/*fonts */
.ff-ral {
    font-family: 'Raleway', sans-serif;
}

.ff-titi {
    font-family: 'Titillium Web', sans-serif;
}

.ff-i {
    font-family: 'Inconsolata', sans-serif!important;
}

/* transform & deco */
.td-u {
    text-decoration: underline;
}

.td-n {
    text-decoration: none;
}

.tt-u {
    text-transform: uppercase;
}

.tt-c {
    text-transform: capitalize;
}

.tt-l {
    text-transform: lowercase;
}

/* font-weight */
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

/* text-align */
.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.ta-j {
    text-align: justify;
}

/* Margins */

.m-auto {
    margin-left: auto;
    margin-right: auto;
}
/* all */
.m-0 {
    margin: 0;
}

.m-0-5 {
    margin: .5rem;
}

.m-1 {
    margin:1rem;
}

.m-1-5 {
    margin: 1.5rem;
}

.m-2 {
    margin:2rem;
}

.m-3 {
    margin: 3rem;
}

/* top */
.mt-0 {
    margin-top: 0;
}

.mt-0-5 {
    margin-top: .5rem;
}

.mt-1 {
    margin-top:1rem;
}

.mt-1-5 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top:2rem;
}

.mt-3 {
    margin-top: 3rem;
}

/* right */
.mr-0 {
    margin-right: 0;
}

.mr-0-5 {
    margin-right: .5rem;
}

.mr-1 {
    margin-right:1rem;
}

.mr-1-5 {
    margin-right: 1.5rem;
}

.mr-2 {
    margin-right:2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-auto {
    margin-right: auto;
}

/* bottom */
.mb-0 {
    margin-bottom: 0;
}

.mb-0-5 {
    margin-bottom: .5rem;
}

.mb-1 {
    margin-bottom:1rem;
}

.mb-1-5 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom:2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

/* left */
.ml-0 {
    margin-left: 0;
}

.ml-0-5 {
    margin-left: .5rem;
}

.ml-1 {
    margin-left:1rem;
}

.ml-1-5 {
    margin-left: 1.5rem;
}

.ml-2 {
    margin-left:2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-auto {
    margin-left: auto;
}

/* Paddings */

/* all */
.p-0 {
    padding: 0;
}

.p-0-5 {
    padding: .5rem;
}

.p-1 {
    padding:1rem;
}

.p-1-5 {
    margin: 1.5rem;
}

.p-2 {
    padding:2rem;
}

.p-3 {
    padding: 3rem;
}

/* top */
.pt-0 {
    padding-top: 0;
}

.pt-025 {
    padding-top: .25rem;
}
.pt-0-5 {
    padding-top: .5rem;
}

.pt-1 {
    padding-top:1rem;
}

.pt-1-5 {
    padding-top: 1.5rem;
}

.pt-2 {
    padding-top:2rem;
}

.pt-3 {
    padding-top: 3rem;
}

/* right */
.pr-0 {
    padding-right: 0;
}

.pr-0-5 {
    padding-right: .5rem;
}

.pr-1 {
    padding-right:1rem;
}

.pr-1-5 {
    padding-right: 1.5rem;
}

.pr-2 {
    padding-right:2rem;
}

.pr-3 {
    padding-right: 3rem;
}

/* bottom */
.pb-0 {
    padding-bottom: 0;
}

.pb-O25 {
    padding-bottom: .25rem;
}

.pb-0-5 {
    padding-bottom: .5rem;
}

.pb-1 {
    padding-bottom:1rem;
}

.pb-1-5 {
    padding-bottom: 1.5rem;
}

.pb-2 {
    padding-bottom:2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

/* left */
.pl-0 {
    padding-left: 0;
}

.pl-0-5 {
    padding-left: .5rem;
}

.pl-1 {
    padding-left:1rem;
}

.pl-1-5 {
    padding-left: 1.5rem;
}

.pl-2 {
    padding-left:2rem;
}

.pl-3 {
    padding-left: 3rem;
}

/* SIZES */

/* width */
.w-a {
    width: auto;
}

.w-0 {
    width: 0;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}
.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

/* max-width */
.mw-mc {
    max-width: max-content;
}

.maw-0 {
    max-width: 0;
}

.maw-22 {
    max-width: 22%;
}

.maw-25 {
    max-width: 25%;
}

.maw-30 {
    max-width: 30%;
}

.maw-50 {
    max-width: 50%;
}

.maw-70 {
    max-width: 70%;
}

.maw-75 {
    max-width: 75%;
}

.maw-80 {
    max-width: 80%;
}

.maw-90 {
    max-width: 90%;
}

.maw-100 {
    max-width: 100%;
}

/* min-width */
.minw-0 {
    min-width: 0;
}

.minw-25 {
    min-width: 25%;
}

.minw-50 {
    min-width: 50%;
}

.minw-70 {
    min-width: 70%;
}

.minw-75 {
    min-width: 75%;
}

.minw-80 {
    min-width: 80%;
}

.minw-100 {
    min-width: 100%;
}

/* height */
.h-a {
    height: auto;
}

.h-0 {
    height: 0;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-60 {
    height: 60%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

/* height rem */
.hrem-2 {
    height: 2rem;
}

.hrem-3 {
    height: 3rem;
}

.hrem-4 {
    height: 4rem;
}

.hrem-5 {
    height: 5rem;
}

.hrem-6 {
    height: 6rem;
}

.hrem-10 {
    height: 10rem;
}

.hrem-15 {
    height: 15rem;
}

.hrem-25 {
    height: 25rem;
}

.hrem-35 {
    height: 35rem;
}

.hrem-45 {
    height: 45rem;
}

/*max-height */
.mh-0 {
    max-height: 0;
}

.mh-25 {
    max-height: 25%;
}

.mh-50 {
    max-height: 50%;
}

.mh-75 {
    max-height: 75%;
}

.mh-80 {
    max-height: 80%;
}

.mh-100 {
    max-height: 100%;
}

.mh-80vh {
    min-height: 80vh;
}

/*float */
.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* position */
.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.bot-2r {
    bottom: 2rem;
}
/* FLEX */

.d-f {
    display: flex;
}

.fd-r {
    flex-direction: row;
}

.fd-rr {
    flex-direction: row-reverse;
}

.fd-c {
    flex-direction: column;
}

.fd-cr {
    flex-direction: column-reverse;
}

.flex-w  {
    flex-wrap: wrap;
}

.flex-w-nw {
    flex-wrap: nowrap;
}

/* justify-content */
.jc-fs {
    justify-content: flex-start;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.js-s {
    justify-self: stretch;
}

.js-c {
    justify-self: center;
}

.js-l {
    justify-self: left;
}

.js-r {
    justify-self: right;
}

/*align-items */
.ai-s {
    align-items: stretch;
}

.ai-fs {
    align-items: flex-start;
}

.ai-fe {
    align-items: flex-end;
}

.ai-c {
    align-items: center;
}

.ai-b {
    align-items: baseline;
}

.as-c {
    align-self: center;
}

.as-s {
    align-self: stretch;
}

.as-start {
    align-self: start;
}

.as-end {
    align-self: end;
}

.as-fs {
    align-self: flex-start;
}

.as-fe {
    align-self: flex-end;
}

/* align-content */
.ac-fs {
    align-content: flex-start;
}

.ac-fe {
    align-content: flex-end;
}

.ac-c {
    align-content: center;
}

.ac-sb {
    align-content: space-between;
}

.ac-sa {
    align-content: space-around;
}

/* flex-basis */
.fb-a {
    flex-basis: auto;
}

.fb-5 {
    flex-basis: 5%;
}

.fb-10 {
    flex-basis: 10%;
}

.fb-15 {
    flex-basis: 15%;
}

.fb-20 {
    flex-basis: 20%;
}

.fb-25 {
    flex-basis: 25%;
}

.fb-50 {
    flex-basis: 50%;
}

/* border */
.b-1-s-g {
    border: 1px solid #ced4da;
}

/* border-top */
.bt-g {
    border-top: 1px solid #f5f4f4;
}

.bt-dg {
    border-top: 1px solid #DFE1E7;
}

/* border-bottom */
.bb-g {
    border-bottom: 1px solid #f5f4f4;
}

.bb-dg {
    border-bottom: 1px solid #DFE1E7;
}

.bb-dg2 {
    border-bottom: 1px solid rgb(229, 233, 236);
}

/*border-radius */
.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

.br-25 {
    border-radius: 25px;
}

.br-50 {
    border-radius: 50%;
}

/* box-shadow */
.bs-1 {
    box-shadow: 0px 2px 9px -2px #b2b2b2;
}

/* object-fet */
.of-con {
    object-fit: contain;
}

.of-cov {
    object-fit: cover;
}

.of-f {
    object-fit: fill;
}

/*buttons */
.button-bb-wc {
    background: black;
    color: white;
    padding: .5rem 2rem .5rem 2rem;
}

.button-bb-wc-2 {
    background: black;
    color: white;
    padding: 1rem 4rem;
}

.fade {
    transition: opacity 15s linear;
}

/* list */
.li-dot {
list-style-type: disc;
}

.li-num {
    list-style-type: decimal;
}


/* Modal */
.modal-bg {
    background-color: rgba(0, 0, 0, 0.47);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    outline: none;
}

.modal {
    overflow: auto;
    height: 40rem;
    width: 70%;
    background: white;
    margin: 1.75rem auto;
    transition: transform .3s ease-out;
    padding: 1rem;
}

/* display */
.d-n {
    display: none;
}

.d-b {
    display: block;
}

.d-ib {
    display: inline-block;
}
/* custom */
.grid-3 > * {
margin-bottom: 3rem;
}

.grid-7 > * {
    margin-bottom: 7rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .675rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-error {
    display: block;
    width: 100%;
    padding: .675rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ff1414;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown {
    text-align: left;
    border: 1px solid rgba(0,0,0, 0.1) ;
    line-height: 1.5rem;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.dropdown.active {
    display: block;
}
/* flash */
.flash {
    max-width: 70%;
    margin: auto;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.flash-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.flash-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.flash-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.flash-other {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.flash-close {
    position: absolute;
    right: 1rem;
    top: 25%;
    background: rgba(0,0,0,0);
}
.flash-close::before {
    font-size: 1.5rem;
    content: 'x';
    color: black;
    font-weight: 300;
    font-family: Arial, sans-serif;
}