{% extends 'layout/base.html.twig' %}

{% block main %}
    <main>

        <div class="mw-70 m-auto mt-3 mb-3 d-f fd-c">
            <section id="home-articles" class=" m-auto pt-3">
                <div class="ta-l">
                    <h1 class="fw-600">Tous les articles</h1>
                </div>
                <div class="d-f fd-r flex-w grid-3 jc-sb mt-1 pb-3">
                    {% if content.posts is defined and content.posts is not empty %}
                        {% for post in content.posts %}
                            <div>
                                <img src="http://via.placeholder.com/376x220" alt="">
                                <p class="pt-1 pb-1 fs-1c3 fw-700">
                                    <span class="d-b text-muted fs-07 tt-u mb-0-5 fw-500">{{ post.category.name }}</span>
                                    {{ post.listingText ?: post.title }}
                                </p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="mw-70 m-auto mt-3 mb-3 pt-3 d-f fd-c">
                            <section id="home-presentation" class="d-f jc-c m-auto pt-3 pb-3 mb-3">
                                <div class="ta-l">
                                    <h1 class="fw-600 fs-3-5 lh-3c5">Le blog ne contient aucun article</h1>
                                    <a href="/">
                                        <button class="m-0-5 button-bb-wc br-5 fw-600">Retour à la page d'accueil</button>
                                    </a>
                                </div>
                            </section>
                        </div>
                    {% endif %}

                </div>
                <div class="ta-c mb-3">
                    <a href="/blog"> Voir tous les articles</a>
                </div>
            </section>
        </div>
    </main>
{% endblock %}