{% if content.breadcrumb is defined and content.breadcrumb is not empty %}
    <ul class="m-3">
    {% for breadcrumb in content.breadcrumb %}
        <li class="d-ib text-muted fs-07">
            <a href="{{ breadcrumb.path }}">{{ breadcrumb.name }}</a>
        </li>
        {%  if false == loop.last  %} > {% endif %}
    {% endfor %}
    </ul>
{% endif %}
