<div class="modal-bg fade d-n" id="mediaModal">
    <div class="modal maw-50">
        <i class="fas fa-times fs-1c5 float-r" id="closeModalButton"></i>
        <h4 class="ta-c">Galerie Média</h4>
        <div id="gallery-view" class="d-f fd-r flex-w grid-3 jc-fs mt-1 pb-3">
           <p class="ta-c" id="ajaxStatus"> Chargement..</p>.
        </div>
    </div>
</div>