<div class="modal-bg fade d-n" id="mediaModal">
    <div class="modal">
        <i class="fas fa-times fs-1c5 float-r" id="closeModalButton"></i>
        <h4 class="ta-c">Galerie Média</h4>
        <button class="m-0-5 button-bb-wc br-5 fw-600" id="addImageButton">Ajouter une image</button>
        <div id="gallery-view" class="d-f fd-r flex-w grid-3 jc-fs mt-1 pb-3">
           <p class="ta-c" id="ajaxStatus"> Chargement..</p>.
        </div>
        <div id="form-view" class="d-f fd-c jc-c mt-1 pb-3 d-n">
            <p class="ta-c" id="ajaxStatusNew"> Chargement..</p>.
        </div>
    </div>
</div>