<!DOCTYPE HTML>
<html lang="en-EN">
<head>
    {% block head %}
        {% include 'partials/inc/meta.html.twig' %}
    {% endblock %}
</head>
<body>
    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer%}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>