{% extends 'layout/base.html.twig' %}

{% block main %}
    <div class="maw-70 m-auto mt-3 mb-3 d-f fd-c">
        <section class="d-f jc-c m-auto pt-3 pb-3 mb-3">
            <div class="ta-l">
                <div class="ta-c fb-50">
                    <img src="{{ user.media.path }}" class="maw-25 h-a br-50 mb-1-5">
                </div>
                <h1 class="fw-600 fs-3-5 lh-3c5">Profil de : {{ user.username }}</h1>
                <p class="mt-0-5">{{ user.description ?? 'Pas de description' }}</p>
            </div>
        </section>
    </div>
{% endblock %}