<!DOCTYPE HTML>
<html lang="en-EN">
    <header>

    </header>
    <body>
        <h3>Message de la part de {{ content.fullName }} - {{ content.email }}</h3>
        <p>{{ content.content }}</p>
    </body>
</html>