<!DOCTYPE HTML>
<html lang="fr-FR">
<header>

</header>
    <body style="background-color: #F7F9FC; padding: 2rem">
        <div style="padding: 1rem; background-color: #fff">
            <h1 style="margin: auto 0">Tavrin.io</h1>
            <hr style="border-top: 1px solid #EAEFF4">
            <p>Bonjour,</p>
            <p>Nous avons reçu une requête de réinitialisation de mot de passe pour le mot de passe associé à l'adresse email {{ user.email }}. Aucune modification n'a été apportée pour le moment.</p>
            <p>Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous :</p>
            <a style="padding: 0.5rem 1rem;
                font-size: 1.25rem;
                line-height: 1.5;
                border-radius: .3rem;
                color: #fff;
                background-color: #563D7C;
                text-align: center;
                text-decoration: none;
                margin: 1rem auto"
                href="{{ scheme }}/reset?token={{ user.token }}">Réinitialiser le mot de passe</a>
        </div>
    </body>
</html>